div.settingsBlock.disabled {
	opacity: 0.5;
}
div.settingsBlock.disabled > *:not(:first-child) {
	display: none;
}

div.settingsBlock {
	margin-bottom: 1em;
	border-top: 2px solid #ccc;
	padding: 0.5em;
}

div.settingsBlock h2 {
	margin: 0;
	padding: 0;
}

div.settingsBlock .header {
	display: flex;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

div.settingsBlock div.input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 0.3em;
}

#settingsContainer {
	flex-grow: 1;
	overflow-y: auto;
}

#personList {
	display: flex;
	flex-direction: column;
	margin-top: 0.5em;
	padding: 0.5em;

	row-gap: 0.5em;
}

#personList div.entry {
	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #ccc;
	border-radius: 5px;
	padding: 0.3em;
}
#personList div.entry .buttons {
	display: flex;
	gap: 0.2em;
}
#personList div.entry div.name.important {
	font-weight: bold;
}
#personList div.entry div.position {
	font-weight: normal;
	font-style: italic;
}

button:has(img) {
	margin: 0;
	padding: 0;
	height: 2em;
	aspect-ratio: 1;
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 50%;
}
button:has(img):hover {
	background: #ddd;
}
button:has(img) img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

button:disabled img {
	opacity: 0;
}
button:disabled {
	cursor: default;
}
button:disabled:hover {
	background: none;
}
