:root {
  --bleeding: 0.5cm;
  --margin: 1cm;
  --main-color: #039;
}

@page {
  /* Set page size here: */
  height: 105mm;
  width: 149mm;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

.page {
  position: relative;

  /* Set Page Size here: */
  height: 105mm;
  width: 149mm;

  /* Font and margin settings  */
  font-size: 12pt;
  margin: 1em;
  background: white;

  /* Grid settings */
  display: grid;
  grid-template-columns: 45mm 104mm;
  grid-template-rows: 15mm 90mm;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media print {
  #controls {
    display: none;
  }
  .page {
    margin: 0;
    overflow: hidden;
    box-shadow: none;
    outline: 1px dotted black;
  }
}

.page {
  --headerline: 1mm;
}

.page > div.roomNr {
  padding: 0.2em;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--headerline) solid white;
}

.page > div.roomName {
  padding: 0.2em;
  padding-left: 0.5em;
  color: var(--main-color);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: var(--headerline) solid var(--main-color);
}

.page > div.logo {
  padding: 0.2em;
  background-color: var(--main-color);
  color: white;
  display: flex;
  align-items: end;
  justify-content: center;
}

.page > div.mainArea {
  padding: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.page > div.mainArea table {
  border-collapse: collapse;
  width: 100%;
}
.page > div.mainArea tr {
  height: 8mm;
}

td.name {
  width: 50mm;
}
td.name.important {
  font-weight: bold;
}
td.function {
  font-style: italic;
}

div.mainArea div.warning {
  background-color: red;
  padding: 1em;
  color: white;
  text-align: center;
  border-radius: 2mm;
}
