:root {
	--bleeding: 0.5cm;
	--margin: 1cm;
	--main-color: #039;
}

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
	background: rgb(204, 204, 204);
	display: flex;
	height: 100vh;
}
#controls {
	width: 400px; /* or any fixed width */
	padding: 1rem;
	background: #f0f0f0;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#preview {
	flex: 1; /* takes the rest of the space */
	padding: 1rem;
	box-sizing: border-box;
	overflow-y: auto; /* scroll only the main area if needed */
}
